.header__horse {
  position: absolute;
  background: url(../../../image/heder/Horse.png) no-repeat center;
  background-size: contain;
  width: 120px;
  height: 115px;
  bottom: 38px;
  left: calc(100% - (240px));
  z-index: 20;
}

@media (min-width: 985px) {
  .header__horse {
    height: 216px;
    width: 245px;
    bottom: 60px;
    left: calc(100% - (537px));
  }
}

@media (min-width: 1480px) {
  .header__horse {
    left: 943px;
  }
}
