.page {
  font-family: "Golos Text", "Montserrat", "Merriweather", Arial, sans-serif,
    serif;
  background-color: #e6dbcf;
}
.page__container {
  margin: 0 auto;
  width: 100%;
  min-width: 375px;
  max-width: 1920px;
}
