.block-1__foto-2 {
  display: block;
  width: 335px;
  height: 401px;
  margin: 0 auto;
}

@media (min-width: 1300px) {
  .block-1__foto-2 {
    margin: 0;
    width: 537px;
    height: auto;
    margin-top: -150px;
    margin-left: 20px;
  }
}
