.block-1__text {
  color: #313131;
  font-family: Merriweather;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  text-transform: uppercase;
  padding: 0;
  margin: 0 auto;
}

.block-1__text span {
  color: #f54932;
  font-weight: 700;
}

.block-1__text_position-1,
.block-1__text_position-2,
.block-1__text_position-3 {
  display: inline-block;
  width: 335px;
}

.block-1__text_position-1,
.block-1__text_position-3 {
  margin-top: 10px;
}
@media (min-width: 970px) {
  .block-1__text_position-1,
  .block-1__text_position-2,
  .block-1__text_position-3 {
    width: 100%;
  }

  .block-1__text_position-1,
  .block-1__text_position-3 {
    margin-top: 0;
  }
}
@media (min-width: 1300px) {
  .block-1__text {
    font-size: 36px;
    text-align: left;
  }
  .block-1__text_position-1 {
    margin-top: 68px;
    margin-left: 51px;
    width: 764px;
  }
  .block-1__text_position-2 {
    width: 764px;
    margin-left: 215px;
    margin-top: -61px;
  }
  .block-1__text_position-2 span {
    margin-left: -163px;
  }
  .block-1__text_position-3 {
    width: 704px;
    margin-left: 12px;
    margin-top: -97px;
  }
}
