.header__ellipse {
  position: absolute;
  background: url(../../../image/heder/Ellipse.png) no-repeat center;
  background-size: contain;
  width: 300px;
  height: 300px;
  bottom: 100px;
  left: calc(100% - (345px));
  opacity: 0.7;
  z-index: 2;
}
@media (min-width: 985px) {
  .header__ellipse {
    width: 660px;
    height: 660px;
    bottom: 147px;
    left: calc(100% - 676px);
  }
}
