.header__ellipse {
  position: absolute;
  background: url(../../../image/heder/Ellipse.png) no-repeat center;
  background-size: contain;
  width: 300px;
  height: 300px;
  bottom: 105px;
  left: 30px;
  opacity: 0.7;
  z-index: 2;
}
