.header__discription {
  color: #313131;
  font-family: "Golos Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin: 0;
  margin-top: 24px;
}

@media (min-width: 985px) {
  .header__discription {
    text-align: center;
  }
}
