.header__logo {
  display: block;
  width: 213px;
  height: 32px;
  margin-left: 20px;
  margin-top: 18px;
}

@media (min-width: 985px) {
  .header__logo {
    width: 245px;
    height: 36px;
    margin-left: 72px;
    margin-top: 27px;
  }
}
@media (min-width: 1600px) {
  .header__logo {
    margin-left: 350px;
  }
}
