.header__link {
  text-decoration: none;
  display: block;
  width: 295px;
  padding: 14px 20px;
  border-radius: 66px;
  text-align: center;
  font-family: "Golos Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  cursor: pointer;
}
.header__link_color_black {
  background-color: #1f1f1f;
  color: #fff;
}
.header__link_color_black:hover {
  background-color: #fbce51;
  color: #1f1f1f;
}
.header__link_color_white {
  background-color: #fff;
  color: #1f1f1f;
}
.header__link_color_white:hover {
  background-color: #1f1f1f;
  color: #fff;
}

@media (min-width: 985px) {
  .header__link {
    width: 165px;
    padding: 13px 47px;
    border: 2px solid #1f1f1f;
  }
  .header__link_color_white {
    background-color: inherit;
  }
  .header__link_color_black:hover {
    border: 2px solid #fbce51;
  }
}
