.block-1__link {
  text-decoration: none;
  color: #3057a2;
  font-family: "Golos Text";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin: 0 auto;
  margin-top: 35px;
}
@media (min-width: 970px) {
  .block-1__link {
    margin-top: 0;
  }
}
